body {
    background-color: rgb(215 228 194);
    }

h1 {
    font-family: Majesti-Banner-Heavy;
    font-size: 36px;
    color: rgb(65 57 61);
    text-align: center;
    } 
h2 {
    font-family: Majesti-Banner-Heavy;
    font-size: 28px;
    color: rgb(190 30 45);
    text-decoration: underline;
    }
p {
    font-family: Majesti-Banner-Light;
    font-size: 16px;
    color: rgb(65 57 61);

    } 
blockquote{
    font-family: Majesti-Banner-Light;
    font-size: 14px;
    color: rgb(65 57 61);

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
ul {
    list-style-type: none; 
   margin: 0;
   padding: 0;
   text-align: center;
   }
   li {
    display: inline-block; float: none
   }
   li a {
    color: rgb(255, 255, 255); 
    padding: 10px; 
    background-color: rgb(65 57 61); 
    }

    wrapper {
        width:90%;
    }