a:link {
  color: #f89513;
}
a:visited {
  color: #f89513;
}
a:hover {
  color: #ee8700;
}
a:active {
  color: #9c5900;
}
h1 {
  text-align: center;
  margin: auto;

  padding: 20px;
  color: #fdfdfd;
  background-color: #d6681f;
}
h2 {
  color: #fdfdfd;

  padding: 15px;
  margin: auto;
}
ul{
  color: #fdfdfd;

  margin: 45px;
}
p{
  color: #fdfdfd;
  text-align: center;
  padding: 5px;
  line-height: 1.6;

  margin: auto;
}
#intro{
  color: #fdfdfd;

  margin: auto;
  padding: 5px;
}
.container {
  padding: 25px;
  margin: auto;

  position: relative;
}
#outro{
  color: #fdfdfd;

  text-align: center;
  margin: auto;
  padding: 20px;
}